<div class="modal-overlay">
  <div class="modal">
    <header class="modal-header">
      <h2>Nouvelle tache</h2>
      <button class="btn-close" (click)="onCancel()" aria-label="Fermer">X</button>
    </header>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="title">Titre*</label>
        <input
          type="text"
          required
          id="title"
          name="title"
          placeholder="Titre de la tâche"
          [(ngModel)]="title"
        />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          id="description"
          name="description"
          placeholder="Description de la tâche"
          [(ngModel)]="description"
        />
      </div>
      <div class="form-group">
        <label for="column">Colonne*</label>
        <select id="column" name="column" required [(ngModel)]="selectedColumnId">
          @for (column of columns(); track column.id) {
            <option [value]="column.id">{{ column.title }}</option>
          }
        </select>
      </div>

      <footer class="modal-footer">
        <button class="btn-secondary" type="button" (click)="onCancel()">Annuler</button>
        <button class="btn-primary" type="submit" [disabled]="!isValid()">Valider</button>
      </footer>
    </form>
  </div>
</div>
